
body {
  font-family: "Roboto Mono", monospace;
}
/* TITRES PRINCIPAUX */
h1 {
    color: #004080;              /* Couleur du texte */
    font-size: 2.5em;            /* Taille du texte */
    border-bottom: 3px solid #004080;  /* Ligne sous le titre */
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    text-align: center;          /* Centrer le titre */
}

/* TITRES SECONDAIRES */
h2 {
    color: #0066cc;
    font-size: 1.8em;
    margin-top: 2em;
    margin-bottom: 1em;
    text-transform: uppercase;   /* Met en majuscules */
}

/* Sous-titres (facultatif si tu utilises h3) */
h3 {
    color: #3399ff;
    font-size: 1.4em;
    font-style: italic;
}
